/* variaveis */
:root{
   --cor-branco: #ffffff;
   --cor-cinza1: #f7f7f7;
   --cor-cinza2: #ededed;
   --cor-cinza3: #dedede;
   --cor-cinza4: #cccccc;
   --cor-cinza5: #b2b2b2;
   --cor-cinza6: #9c9c9c;
   --cor-cinza7: #717171;
   --cor-cinza8: #595959;
   --cor-cinza9: #404040;
   --cor-cinza10: #2e2e2e;
   --cor-cinza11: #111111;
   --cor-amarelo1: #ffbb00;
   --cor-amarelo2: #e4a30b;
   --cor-amarelo3: #a66f00;
   --cor-amarelo4: #664400;
   --cor-amarelo5: #332200;
}




.cor-branco{
   color: var(--cor-branco);
}
.cor-preto{
   color: var(--cor-preto);
}

/* cinza */
.cinza-1{
   color: var(--cor-cinza1);
}
.cinza-2{
   color: var(--cor-cinza2);
}
.cinza-3{
   color: var(--cor-cinza3);
}
.cinza-4{
   color: var(--cor-cinza4);
}
.cinza-5{
   color: var(--cor-cinza5);
}
.cinza-6{
   color: var(--cor-cinza6);
}
.cinza-7{
   color: var(--cor-cinza7);
}
.cinza-8{
   color: var(--cor-cinza8);
}
.cinza-9{
   color: var(--cor-cinza9);
}
.cinza-10{
   color: var(--cor-cinza10);
}
.cinza-11{
   color: var(--cor-cinza11);
}

/* amarelo */
.cor-amarelo-1{
   color:var(--cor-amarelo1);
}
.cor-amarelo-2{
   color: var(--cor-amarelo2);
}
.cor-amarelo-3{
   color: var(--cor-amarelo3);
}
.cor-amarelo-4{
   color: var(--cor-amarelo4);
}
.cor-amarelo-5{
   color: var(--cor-amarelo5);
}
